*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif, monospace;
    background-color: #f2f2f2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}




.post-container{
    width: 500px;
    height: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* h3 */
.post-container h3{
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    margin: 10px;
}

/* form */
.post-container > form{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

textarea{
    width: 100%;
    height: calc(66% - 10px);
    margin: 5px;
    overflow-y: scroll;
    resize: none;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

/* .buttons */
h3 ~ div{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

/* #create-post */
input + input{
    width: 150px;
    background-color: #007BFF;
    color: #fff;
    padding: 15px;
    margin: auto;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#fileInput{
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    cursor: pointer;
    text-align: center;
}

#selectFile{
    margin-top: 20px;
}

#create-post:hover{
    background-color: #0055b3;
}




@media screen and (max-width: 600px){

    .post-container{
        width: 75%;
        height: 70%;
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;
    }

    #selectFile{
        margin-right: auto;
        margin-left: auto;
    }

    #fileInput{
        display: flex;
        width: 180px;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    #create-post{
        width: 100%;
    }
}