
div > p {
    font-size: 18px;
}


.author-img{
    max-width: 30px;
    max-height: 30px;
}

.post{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.post-wrapper{
    padding: 25px;
    border: 1px solid #333333;
    border-radius: 10px;
    width: 650px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.post-img{
    max-width: 100%;
    max-height: 700px;
}

.creation-date{
    font-size: 16px;
}

.likes{
    max-width: 20px;
    max-height: 20px;
}

.post-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media screen and (max-width: 780px) {
    .post{
        padding-right: 20px;
        padding-left: 20px;
    }

    .post-wrapper{
        max-width: 500px;
    }
}
